html{
    font-size: 16px;
    font-family: Roboto,Arial,sans-serif;
    color: #000;
    background: #fff;
    line-height: 1.15;
    height:100%
}

body{
    height:100%;   
}

div{
    box-sizing: border-box;
}

.form{
    display: block; 
    min-width:320px;
    max-width: 40rem;
    height: 100%;
    margin: 0 auto;
    margin-top: 20%;
    padding: 0 2.43rem 14.29rem;
    white-space: nowrap;
}

.icon-way-point{
    display:inline-block;  
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 0.2rem;
    margin-left: -1.7rem;
    font-weight: 700;
    text-align: center;
    color: #212121;
    border: 2px solid rgba(33,33,33,.2);
    border-radius: 1rem;  
}

.icon-way-point span{
    vertical-align: middle;
    font-size: 100%;
}

.adress-input{
    display:inline-block;
    width: 100%;
    font-size: 100%;
    vertical-align: middle;
    border:none;
    border-bottom: 1px solid rgba(0,0,0,.2);
    outline: none;  
}

.map{
    display:inline-block;
    margin-left: 0.2rem; 
    vertical-align: middle;    
}
.map img{
    width:1.5rem;
    height:1.5rem;
    opacity: 0.5;
}
